body{
    /* background-image: url("https://cdn.pixabay.com/photo/2016/02/16/16/57/login-1203603__340.png"); */
   background-image: url("https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/airline_660_122918080637.jpg"); 
    background-size: cover;
    background-position-x: center;
}