body {
    background-image: url('https://images.unsplash.com/photo-1561131668-f63504fc549d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=739&q=80');
    height: 720px; 
    background-position: 0rem; 
    background-repeat: no-repeat; 
    background-size: cover;
  }