<div class="view" style="background-image: url('https://images.unsplash.com/photo-1558900434-b368e6c3fac0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 590px;">

           
    <div class="mask rgba-gradient align-items-center">
     
      <div class="container">
       
        <div class="row">
         
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-5" >About Us</h1>
            <hr class="hr-light">
            <h4 class="mb-4" >The origins of flight date back to 400 B.C., when the Chinese invented the kite, which was used not only for fun but also to test the weather, and for later development of balloons and gliders. In the 1480s, Leonardo da Vinci was fascinated by the thought of flight and drew pictures and designs of his theories of flight and flying machines. The first recorded flight was in 1783, when two French inventors flew the first hot air balloon, and the Wright brothers successfully flew the first airplane in 1903.
            </h4>
            
          </div>
         
        </div>
        
      </div>
      
    </div>
   
  </div>
<!-- <div class="container-fluid col-12 bg-info" >
<h1 class="text-center" style="padding:5px;">About Us</h1>
<p class="text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 20px; margin-top: 20px;">The origins of flight date back to 400 B.C., when the Chinese invented the kite, which was used not only for fun but also to test the weather, and for later development of balloons and gliders. In the 1480s, Leonardo da Vinci was fascinated by the thought of flight and drew pictures and designs of his theories of flight and flying machines. The first recorded flight was in 1783, when two French inventors flew the first hot air balloon, and the Wright brothers successfully flew the first airplane in 1903.</p>
</div> -->
